{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login CyberStore</title>
</head>
<body>
    <div class="login-container">
        <h1>CyberStore</h1>
        <h2>Iniciar Sesión</h2>

        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Iniciar Sesión</button>
        </form>

        <div class="link-text">
            ¿Olvidaste tu contraseña? <a href="#">Recuperar</a>
        </div>
        <div class="link-text">
            ¿No tienes cuenta? <a href="{% url 'users:register' %}">Crea una</a>
        </div>
        <div class="link-text">
            <a href="\">Volver a inicio</a>
        </div>
    </div>
</body>
</html>