{% extends "base.html" %}
{% load static %}
{% block title %}Sobre Nosotros - CyberShop{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class="about-section">
        <div class="about-container">
            <h1>Sobre Nuestra Tienda</h1>
            <p>
                En Cyberstore somos especialistas en el ensamble de computadores, ofreciendo asesoría personalizada para la creación de equipos a la medida de tus necesidades. Nuestro equipo te acompaña en cada paso, desde la selección de componentes hasta el armado final.
            </p>
            <p>
                Además, brindamos servicios de mantenimiento correctivo y preventivo para asegurar el óptimo funcionamiento de tu computador. Confía en nosotros para mantener tu equipo siempre actualizado y en las mejores condiciones.
            </p>
        </div>
    </div>
</body>
{% endblock %}