{% extends 'base.html' %}
{% load static %}
{% block title %}Mi carrito - CyberShop{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chck.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class="pago-container">
        <h1>Proceder a pago</h1>
        <p>Elije el metodo de pago:</p>
        <div class="buttons">
            <a class="pay" href="#">Pagar con PayPal</a>
            <a class="pay" href="#">Pagar con tarjeta</a>
            <a class="pay" href="{% url 'store:checkout_cash' %}">Pagar contra entrega</a>      
            <a class="shopping" href="{% url 'store:view_cart' %}">Volver al carrito</a>
        </div>
    </div>
</body>
{% endblock %}