{% extends 'base.html' %}
{% load static %}
{% block title %}Escribenos{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/email.css' %}">
{% endblock %}
{% block content %}

<div class="email-container">

    <div class="container">
        <h1>Escribenos</h1>
        <form class=form-group method="post" action="{% url 'store:email' %}">
            {% csrf_token %}
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button class="btn-submit" type="submit">Enviar</button>
        </form>
    </div>
</div>

{% endblock %}