{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - CyberShop{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    
    {% if user.is_authenticated %}
        <h1 class="page-title">Hola {{ user.username }}!</h1>
    {% else %}
        <h1 class="page-title">Bienvenido a CyberShop</h1>
    {% endif %}
    
    <h1 class="page-title">Nuestras ofertas</h1>
    <div class="container">
        {% for product in products %}
            {% if product.is_offered %}
                <a href="{% url 'store:product_detail' product.id %}" class="product-card">
                    <div class="product-image-container">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                        <p class="product-offer">Descuento de {{ product.discount_percentage }}%</p>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title">{{ product.name }}</h2>
                        <p class="product-description">{{ product.description|truncatechars:100 }}</p>
                        <p class="product-price" style="text-decoration:line-through; color: grey" >$ {{ product.price }}</p>
                        <p class="product-price">$ {{ product.offer_price }}</p>
                    </div>
                    <div style="padding: 15px; border-top: 1px solid #eee;">
                        <button type="button" class="btn-add-to-cart">Agregar al carrito</button>
                    </div>
                </a>  {% endif %}
        {% endfor %}
    </div>
{% endblock %}