{% extends 'base.html' %}
{% load static %}
{% block title %}Productos - CyberShop{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Nuestros Productos</h1>

<div class="filter-section">
    <form method="get" action="{% url 'store:products' %}">
        <label for="category-select">Filtrar por Categoría:</label>
        <select name="category" id="category-select" onchange="this.form.submit()">
            
            <option value="" {% if not current_category %}selected{% endif %}>
                Todos los Productos
            </option>
            
            {% for category_name in categories %}
                <option value="{{ category_name }}" 
                        {% if current_category == category_name %}selected{% endif %}>
                    {{ category_name }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="container">
    {% for product in products %}
        {% if product.is_offered %}
            <a href="{% url 'store:product_detail' product.id %}" class="product-card">
            <div class="product-image-container">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <p class="product-offer">En promoción</p>
            </div>
            <div class="product-info">
                <h2 class="product-title">{{ product.name }}</h2>
                <p class="product-description">{{ product.description|truncatechars:100 }}</p>
                <p class="product-price" style="text-decoration:line-through; color: grey" >$ {{ product.price }}</p>
                <p class="product-price">$ {{ product.offer_price }}</p>
            </div>
            <div style="padding: 15px; border-top: 1px solid #eee;">
                <button type="button" class="btn-add-to-cart">Agregar al carrito</button>
            </div>
            </a>
        {% else %}
            <a href="{% url 'store:product_detail' product.id %}" class="product-card">
                <div class="product-image-container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                </div>
                <div class="product-info">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <p class="product-description">{{ product.description|truncatechars:100 }}</p>
                    <p class="product-price">${{ product.price }}</p>
                </div>
                <div style="padding: 15px; border-top: 1px solid #eee;">
                    <button type="button" class="btn-add-to-cart">Agregar al carrito</button>
                </div>
            </a>
        {% endif %}
    {% empty %}
        <p class="noitems">No hay productos disponibles en este momento.</p>
    {% endfor %}
</div>
{% endblock %}