<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <div class="product-container">
        <div>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
        </div>
        <div class="product-details">
            <p>{{ product.description }}</p>
        </div>
    </div>
    <div class="product-price">
        {% if product.is_offer %}
            <span class="old-price">${{ product.price }}</span>
            <span class="offer-price">${{ product.offer_price }}</span>
        {% else %}
            ${{ product.price }}
        {% endif %}
    </div>
</body>
</html>