.product-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
    margin-bottom: 2rem;
    max-width: 900px;
    align-items: flex-start; /* Añadir para mejor alineación en desktop */
}

.product-image-area {
    flex: 0 0 auto; /* Evita que la imagen se estire */
    max-width: 300px; /* Limita el ancho máximo de la imagen */
}

.product-image {
    max-width: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-details {
    display: block;
    max-width: 200px;
    flex: 1; /* Permite que ocupe el espacio restante en desktop */
}

.product-title {
    color: rgb(0, 163, 155);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: rgb(0, 163, 155); 
}

.old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 1rem;
}

.offer-price {
    color: rgb(0, 163, 155);
}

.product-availability {
    margin-top: 1rem;
    font-weight: bold;
}

.product-availability.in-stock {
    color: green; /* Producto disponible */
}

.product-availability.out-of-stock {
    color: red; /* Sin stock */
}

.btn-add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.2s;
}
.btn-add-to-cart:hover {
    background-color: #0056b3;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .product-container {
        flex-direction: column; 
        gap: 20px;
        padding: 15px; 
    }

    .product-image-area,
    .product-details {
        width: 100%; 
        flex: none;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
    
    .product-image-area {
        width: 100%;
        margin: 0 auto; 
    }
    
    .product-image {
        max-width: 100%; 
    }
    
    .login-message {
        text-align: center;
        width: 70%;
        box-sizing: border-box;
        font-size: 1rem;
    }
}