{% extends 'base.html' %}

{% block title %}Administrador - CyberShop{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <h1>Panel Administrador</h1>
    <div>
        <div>
            <a class="admin-option" href="{% url 'users:manage_users' %}">Control de usuarios</a>
        </div>
        <div>
            <a class="admin-option" href="{% url 'store:manage_products' %}">Control de productos</a>
        </div>
        <div>
            <a class="admin-option" href="#">Control de pedidos</a>
        </div>
    </div>
{% endblock %}
