<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Ordenes</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <h1>Order List</h1>
    <div class="option-container">
        <a class="admin-option" href="{% url 'users:admin_panel' %}">Admin Panel</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td> 
                <td>{{ order.created_at }}</td> 
                <td>{{ order.total_amount }}</td> 
                <td>{{ order.status }}</td> 
                <td>
                    <div class="actions">
                        <a href="{% url 'store:update_order_status' order.id %}" class="edit">View Details</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>